site_name: IIoT Bearing PdM System
site_url: https://FSB-Project.github.io/bearing-iiot/
repo_url: https://github.com/FSB-Project/bearing-iiot
edit_uri: edit/main/docs/

theme:
    name: material
    language: en
    palette:
        # Palette toggle for light mode
        - media: "(prefers-color-scheme: light)"
          scheme: default
          primary: custom
          accent: custom
          toggle:
              icon: material/brightness-7
              name: Switch to dark mode

        # Palette toggle for dark mode
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          primary: custom
          accent: custom
          toggle:
              icon: material/brightness-4
              name: Switch to light mode

    font:
        text: Roboto
        code: Roboto Mono

    features:
        - navigation.tabs
        - navigation.sections
        - navigation.expand
        - navigation.path
        - navigation.top
        - navigation.footer
        - navigation.tracking
        - navigation.instant
        - navigation.indexes
        - search.suggest
        - search.highlight
        - search.share
        - content.code.copy
        - content.code.annotate

    icon:
        logo: material/engine
        favicon: material/engine-outline

extra_css:
    - stylesheets/extra.css

plugins:
    - search

markdown_extensions:
    - admonition
    - md_in_html
    - pymdownx.details
    - pymdownx.superfences
    - pymdownx.highlight:
          anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.tasklist:
          custom_checkbox: true
    - pymdownx.emoji:
          emoji_index: !!python/name:pymdownx.emoji.twemoji
          emoji_generator: !!python/name:pymdownx.emoji.to_svg
    - pymdownx.tabbed:
          alternate_style: true
    - attr_list

copyright: Copyright &copy; 2024 - 2026 Bearing IIoT Team

extra:
    social:
        - icon: fontawesome/brands/github
          link: https://github.com/trungbuidesu
        - icon: fontawesome/brands/linkedin
          link: https://www.linkedin.com/in/buiductrung29/

nav:
    - Home: index.md
    - Engineering & Architecture:
          - technical/architecture.md
          - technical/specification.md
    - Hardware:
          - hardware/esp32.md
          - hardware/raspberry-pi.md
          - hardware/cloud-server.md
    - Artificial Intelligence (AI):
          - ai/ml-models.md
          - ai/or-tools.md
    - Testing:
          - testing-project/test-strategy.md
          - testing-project/test-results.md
    - Project Management:
          - Roadmap: project-management/roadmap.md
          - Design Guidelines: project-management/style-guide.md
    - References: reference/references.md
