site_name: IIoT Bearing PdM System
site_url: https://your-username.github.io/bearing-iiot/
repo_url: https://github.com/your-username/bearing-iiot
theme:
    name: material
    palette:
        - scheme: default
          primary: indigo
          accent: indigo
        - scheme: slate
          primary: indigo
          accent: indigo
    features:
        - navigation.tabs
        - navigation.sections
        - navigation.top
        - search.suggest
        - search.highlight

plugins:
    - search

markdown_extensions:
    - admonition
    - pymdownx.details
    - pymdownx.superfences
    - pymdownx.highlight:
          anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - attr_list

nav:
    - Trang chá»§: index.md
